/*  your css code here. If applicable */
body{
	margin: 0;
	padding: 0;
}
.hero{
	display: flex;
	justify-content: center;
	align-items: center;
}
img{
	width: 70%;
	height: 60%;
	object-fit: cover;
}
h1, p{
	text-align: center;
}
.content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
button{
	border: none;
	color:  white;
	font-weight: 600;
	background-color: #FF6D1F;
	padding: 5px;
	border-radius: 2px;
}